* {
        letter-spacing: 0 !important;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        margin: 0 auto;
      }

      div {
        display: block;
        margin: 0 auto;
      }

      .card {
        background-color: #000000;
        margin-bottom: 0px;
        padding: 70px 45px;
        box-sizing: border-box;
        font-size: 13px;
        color: #737373;
        font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        min-width: 190px;
        -webkit-font-smoothing: antialiased;
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        position: relative;
        -webkit-text-size-adjust: 100%;
      }

      .wrapper {
        text-align: left;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
        margin: 0 auto;
      }

      .footer {
        margin-top: 0;
        font-size: 1em;
        padding-bottom: 20px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }

      .footer-top {
        margin: 0 0 30px;
        padding: 0;
        font-size: 15px;
      }

      .footer-top-a {
        padding-left: 3px;
        display: inline;
      }

      p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

      ul.structural {
        margin: 0 auto;
        padding: 0;
      }

      .footer-links {
        box-sizing: border-box;
        font-size: 13px;
        max-width: 1000px;
      }

      a,
      .footer-link-item {
        text-decoration: none;
        color: #737373;
        padding-right: 12px;
        width: 213px;
        height: 16px;
        display: block;
      }

      a:hover {
        text-decoration: underline;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }

      ul.structural > li {
        list-style: none;
        margin-left: 0;
        margin-bottom: 16px;
      }

      .footer-link-item {
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 16px;
        min-width: 100px;
        padding: 0 12px 0 0;
        vertical-align: top;
        width: 25%;
      }

      li {
        text-align: left;
        padding-right: 12px;
      }

      .selezione-lingua {
        margin-top: 20px;
      }

      .selezione-lingua-wrapper {
        width: auto;
        display: inline-block;
        position: relative;
      }

      .selezione-lingua .selezione-lingua-label {
        clip: rect(0 0 0 0);
        border: 0;
        display: block;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      .globo {
        display: inline-block;
        position: relative;
        width: 100%;
      }

      .globo::before {
        color: #999;
        top: 17px;
        font-family: nf-icon;
        font-size: 16px;
        pointer-events: none;
        position: absolute;
        left: 15px;
        content: "\e896";
        line-height: 0.7;
      }

      .selezione-lingua-medium {
        padding-right: 26px;
        text-indent: 0;
        display: inline-block;
        border-radius: 2px;
      }

      .selezione-lingua-wrapper .selezione-lingua-medium {
        line-height: 1.7;
        padding-left: 50px;
        display: inline-block;
      }

      select {
        background-color: #000000;
        border: 1px solid #333;
        color: #999;
        font-size: 16px;
        padding: 12px;
        padding-right: 26px;
      }

      .footer-paese {
        font-size: 1em;
        margin-top: 24px;
        font-size: 1em;
        padding-bottom: 20px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        margin-top: 0;
        max-width: 1000px;
      }
