.sfondo_header {
    background-image: url(assets/sfondo_header.jpg)
}

.sfondo_header {
    position: fixed;
    -webkit-box-shadow: inset 0 0 13px 13px #000;    
    -moz-box-shadow: inset 0 0 13px 13px #000;
    box-shadow: inset 0 0 13px 13px #000;
}

.sfondo_header {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: brightness(70%);
    pointer-events: none;
}

/*
.sfondo_header {
    filter: brightness(70%);
}
 */

.barra_superiore {
    display: flex;
    flex-direction: row;
    position: 0;
    margin: 0px 60px;
    padding-top: 30px;
}

.contenitore_logo {
    width: 200px;
    height: 70px;
    margin-right: 1030px ;
    padding: 0;
    margin-top: 0;
}

.logo_netflix {
    object-fit: contain;
    width: 100%;
    
}

.selettore_lingua {
  font-size: 14px;
  height: 40px;
  width: 90px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  text-align-last: center;
  display: flex;
}

option {
    font-size: 14px;
    background-color: grey;
    color: white;
    text-align: center;
}

.bottone_accedi {
    padding-left: 30px;

}

.stile_bottone {
    width: 90px;
    height: 40px;
    font-size: large;
    background-color: #E50914;
    color: white;
    border: none;
    border-radius: 4px;
}

.centro {
    padding-top: 80px;
    padding-bottom: 90px;
    padding-left: 60px;
    padding-right: 60px;
}

.titolo_1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 700;
    margin: 0;
}

.titolo_2 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
}

.testo_form {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
}

.container_form_email {
    text-align: center;
    align-items: center;
}

.input_email {
    box-sizing: border-box;
    width: 500px;
    height: 65px;
}

.bottone_email {
    width: 150px;
    height: 65px; 
    background-color: #E50914;
    color: white;
    font-weight: 400;
    font-size: 29px;
    border: none;
    border-radius: 2px;
}