

.netflix-sans-font-loaded {
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    direction: ltr;
    font-size: 16px;
    background-color: black;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    letter-spacing: 0 !important;
}
html[Stile degli attributi] {
    -webkit-locale: "it";
}

html {
    display: flex;
    flex-flow: row wrap;
}

.our-story-card {
    background-color: black;
    box-sizing: border-box;
    font-size: 13px;
    color: #737373;
    padding: 70px 45px;
    min-width: 190px;
    width: 90%;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    display: block;
    margin: 0 auto;
    max-width: 1000px;
}

.footer-top {
    font-size: 15px;
    color: rgb(115,115,115);
    display: flex;
    flex-flow: row wrap;
}

.footer-top-a {
    padding-left: 3px;
}

a, .footer-link-item {
    text-decoration: none;
    color: rgb(115,115,115);
    padding-right: 12px;
    width: 213px;
    height: 16px;
    display: flex;
    flex-flow: row wrap;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.structural {
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
}

.footer-links {
    box-sizing: border-box;
    font-size: 13px;
    flex-flow: row wrap;
}

.footer-link-item {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
}

.site-footer-wrapper {
    margin-top: 0;
}
.site-footer-wrapper {
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

/* .lang-selection-container .ui-select-wrapper .select-arrow.prefix .ui-select.medium {
    padding-right: 26px;
    text-indent: 0;
}

.ui-select-wrapper .select-arrow.prefix .ui-select.medium {
    line-height: 1.7;
    padding-left: 50px;
}

.footer-card .dark .ui-select-wrapper .ui-select {
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    color: #999;
    font-size: 16px;
}

.ui-select.medium {
    padding: 12px;
}

.ui-select {
    appearance: none;
    background: #fff;
    border-radius: 2px;
    width: 100%;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
}